@page "/Trabajo/Delete/{TrabajoId:int}"
@inject TrabajosServices trabajoService 
@inject DetalleService detalleService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Delete trabajo</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*Header*@
        <div class="card-header">
            <h3><strong>Eliminar trabajo</strong></h3>
        </div>
        @*Body*@
        <div class="card-body">
            <dl class="row">
                @*TrabajoId*@
                <dt class="col-sm-3">Id</dt>
                    <dd class="col-sm-9">@Trabajo.TrabajoId</dd>
                @*Fecha*@
                <dt class="col-sm-3">Fecha:</dt>
                    <dd class="col-sm-9">@Trabajo.Fecha</dd>
                @*ClienteId*@
                <dt class="col-sm-3">ClienteId:</dt>
                    <dd class="col-sm-9">@Trabajo.ClienteId</dd>
                @*Cliente*@
                <dt class="col-sm-3">Cliente:</dt>
                    <dd class="col-sm-9">@Trabajo?.Clientes?.Nombres</dd>
                @*TecnicoId*@
                <dt class="col-sm-3">TecnicoId:</dt>
                    <dd class="col-sm-9">@Trabajo?.TecnicoId</dd>
                @*Tecnico*@
                <dt class="col-sm-3">Técnico:</dt>
                    <dd class="col-sm-9">@Trabajo?.Tecnicos?.Nombres</dd>
                @*Prioridad*@
                <dt class="col-sm-3">Prioridad:</dt>
                    <dd class="col-sm-9">@Trabajo?.Prioridades?.Descripcion</dd>
                @*Prioridad Hora*@
                <dt class="col-sm-3">Hora de Prioridad:</dt>
                    <dd class="col-sm-9">@Trabajo?.Prioridades?.Tiempo</dd>
                @*Descripcion*@
                <dt class="col-sm-3">Descripción:</dt>
                    <dd class="col-sm-9">@Trabajo?.Descripcion</dd>
                @*Articulo*@
                @foreach (var detalle in ListarDetalle)
                {
                    <dt class="col-sm-3">Articulos:</dt>
                    <dd class="col-sm-9">@detalle.Articulos.Descripcion</dd>
                }
                @*Monto*@
                <dt class="col-sm-3">Monto:</dt>
                <dd class="col-sm-9">@Trabajo?.Monto.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</dd>
            </dl>
        </div>
        @*Footer*@
        <div class="card-footer">
            <button type="button" class="btn btn-secondary" @onclick="Volver">Volver</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>
@Mensaje

@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos Trabajo { get; set; } = new Trabajos();
    public TrabajosDetalle TrabajoDetalle { get; set; } = new TrabajosDetalle();
    public List<TrabajosDetalle> ListarDetalle { get; set; } = new List<TrabajosDetalle>();
    public string Mensaje {get; set;} = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajoService.Buscar(TrabajoId);
        ListarDetalle = await trabajoService.BuscarDetalle(TrabajoId);
    }

    public async Task Eliminar()
    {
        var eliminar = await trabajoService.Eliminar(Trabajo);

        if (eliminar)
        {
            Mensaje = "El Trabajo ha sido eliminado.";
            await Task.Delay(2000);
            Volver();
        }
        else
        {
            Mensaje = "No se a podido eliminar el Trabajo.";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("Trabajo/Index");
    }
}