@page "/Trabajo/Details/{TrabajoId:int}"
@inject TrabajosServices trabajoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Delete trabajo</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*Header*@
        <div class="card-header">
            <h3><strong>Detalle del trabajo</strong></h3>
        </div>
        @*Body*@
        <div class="card-body">
            <dl class="row">
                @*TrabajoId*@
                <dt class="col-sm-3">Id</dt>
                    <dd class="col-sm-9">@Trabajo.TrabajoId</dd>
                @*Fecha*@
                <dt class="col-sm-3">Fecha:</dt>
                    <dd class="col-sm-9">@Trabajo.Fecha</dd>
                @*ClienteId*@
                <dt class="col-sm-3">ClienteId:</dt>
                    <dd class="col-sm-9">@Trabajo.ClienteId</dd>
                @*Cliente*@
                <dt class="col-sm-3">Cliente:</dt>
                    <dd class="col-sm-9">@Trabajo?.Cliente?.Nombres</dd>
                @*TecnicoId*@
                <dt class="col-sm-3">TecnicoId:</dt>
                    <dd class="col-sm-9">@Trabajo?.TecnicoId</dd>
                @*Tecnico*@
                <dt class="col-sm-3">Técnico:</dt>
                    <dd class="col-sm-9">@Trabajo?.tecnicos?.Nombres</dd>
                @*Prioridad*@
                <dt class="col-sm-3">Prioridad:</dt>
                    <dd class="col-sm-9">@Trabajo?.Prioridades?.Descripcion</dd>
                @*Prioridad Hora*@
                <dt class="col-sm-3">Hora de Prioridad:</dt>
                    <dd class="col-sm-9">@Trabajo?.Prioridades?.Tiempo</dd>
                @*Descripcion*@
                <dt class="col-sm-3">Descripción:</dt>
                    <dd class="col-sm-9">@Trabajo?.Descripcion</dd>
                @*Monto*@
                <dt class="col-sm-3">Monto:</dt>
                <dd class="col-sm-9">@Trabajo?.Monto.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</dd>
            </dl>
        </div>
        @*Footer*@
        <div class="card-footer">
            <button type="button" class="btn btn-secondary" @onclick="Volver">Volver</button>
            <a href=@($"https://api.whatsapp.com/send?phone={Trabajo?.Cliente?.WhatsApp}&text=Saludos,%20buenos%20días.%20Su%20trabajo%20ya%20está%20finalizado.")>
                <button type="button" class="btn btn-success bi bi-whatsapp">WhatsApp</button>
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos Trabajo { get; set; } = new Trabajos();

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajoService.BuscarTodo(TrabajoId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("Trabajo/Index");
    }
}
